/* imports */

@import 'https://fonts.googleapis.com/css?family=Lemonada|Roboto|Tillana';

/* global styles*/
body {
    font-family: 'Roboto', sans-serif;
}

/* menu style*/

.home-menu {
    background: #009688;
    color: white;
    text-align: center;
    font-family: 'Lemonada', cursive;
    font-size: 1.2em;
    height: 60px;
}

.home-menu .pure-menu-heading {
    color: white;
}

/* main-container styles */

#main-container {
    padding-top: 65px;
}

/* quote container styles */
.quote-container {
    font-family: 'Tillana', cursive;
    font-size: 0.9em;
    padding: 25px;
    max-width: 600px;
    margin: auto;
}

.quote-container .btn-get-quote,
.quote-container .btn-get-quote-protected  {
    margin: auto;
    display: block;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}

/* form container styles */

.login-container {
    font-size: 0.9em;
    padding: 25px;
    max-width: 600px;
    margin: auto;
}

.login-container input,
.login-container button {
    margin-right: 10px;
} 

.login-container button {
  text-transform: capitalize;
}

span.user-name {
    text-decoration: underline;
    color: darkblue;
}

.btn-log-out {
    margin: 10px 0 0 50px;
}

span.error {
    display: block;
    padding: 20px;
    text-align: center;
    color: #a00;
}

